{% include "header.html" %}
{% load static %}
<section>
  <div class="my-1">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-secondary">
        <li class="breadcrumb-item">
          <a class="link-body-emphasis" href="{% url 'home' %}">
            <svg class="bi" width="16" height="16"><use xlink:href="#house-door-fill"></use></svg>
            <span class="visually-hidden">Home</span>
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'planning-project' %}">Planning and Projects</a>
        </li>
      </ol>
    </nav>
  </div>
  <div class="container marketing" style="margin-top: 9px;">
    <h4>Planning and Projects</h4>
    <table class="table" style="text-wrap:wrap;">
      <thead style="text-align: center;">
        <tr>
          <th scope="col" colspan="9">Title</th>
          <th scope="col" style="text-align: end;">Download</th>
        </tr>
      </thead>
      <tbody style="text-align: center;">
        <tr>
          <td colspan="9">Mark
            <div class="text-end"><small class="text-body-secondary">January 13, 2024</small></div></td>
          <td style="text-align: end; padding-top:30px;"><a href="./NEPAL TELECOM __ SEE.NTC.NET.NP __ SEE Results 2079.pdf" download="">
            <svg class="bi text-black bg-white" width="20" height="20"><use xlink:href="#download"/></svg></a></td>
        </tr>
        <tr>
          <td colspan="9">Mark
            <div class="text-end"><small class="text-body-secondary">January 13, 2024</small></div>
          </td>
          <td style="text-align: end; padding-top:30px;"><a href="./NEPAL TELECOM __ SEE.NTC.NET.NP __ SEE Results 2079.pdf" download="">
            <svg class="bi text-black bg-white" width="20" height="20"><use xlink:href="#download"/></svg></a></td>
        </tr>
        <tr>
          <td colspan="9">Mark
            <div class="text-end"><small class="text-body-secondary">January 13, 2024</small></div>
          </td>
          <td style="text-align: end; padding-top:30px;"><a href="./NEPAL TELECOM __ SEE.NTC.NET.NP __ SEE Results 2079.pdf" download="">
            <svg class="bi text-black bg-white" width="20" height="20"><use xlink:href="#download"/></svg></a></td>
        </tr>
        <tr>
          <td colspan="9">Mark
            <div class="text-end"><small class="text-body-secondary">January 13, 2024</small></div>
          </td>
          <td style="text-align: end; padding-top:30px;"><a href="./NEPAL TELECOM __ SEE.NTC.NET.NP __ SEE Results 2079.pdf" download="">
            <svg class="bi text-black bg-white" width="20" height="20"><use xlink:href="#download"/></svg></a></td>
        </tr>
        <tr>
          <td colspan="9">Jacob
            <div class="text-end"><small class="text-body-secondary">January 13, 2024</small></div>
          </td>
          <td style="text-align: end; padding-top:30px;"><a href="./NEPAL TELECOM __ SEE.NTC.NET.NP __ SEE Results 2079.pdf" download="">
            <svg class="bi text-black bg-white" width="20" height="20"><use xlink:href="#download"/></svg></a></td>
        </tr>
        <tr>
            <td colspan="9">Jacob
              <div class="text-end"><small class="text-body-secondary">January 13, 2024</small></div>
            </td>
          <td style="text-align: end; padding-top:30px;"><a href="./NEPAL TELECOM __ SEE.NTC.NET.NP __ SEE Results 2079.pdf" download="">
            <svg class="bi text-black bg-white" width="20" height="20"><use xlink:href="#download"/></svg></a></td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item">
          <a class="page-link">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
  {% include "footer.html" %}