{% include "header.html" %}
{% load static %}
<section>
  <div class="container marketing" style="margin-top: 9px;">
    <!-- START THE FEATURETTES -->
    <div class="row featurette">
      <h4>Introduction</h4><hr>
      <div class="row">
      <div class="col-md-10" style="text-align: justify;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, autem at fugit dolorem accusantium quibusdam blanditiis ipsa vel totam in corporis, nemo est maxime. Nostrum quo cum sed molestiae itaque?
        Quae cumque commodi earum, nisi illum sapiente similique quos quisquam temporibus expedita corrupti sequi dolorem ratione? Tempora quibusdam aperiam saepe ex voluptatum excepturi dolorum officiis totam animi eligendi! Dolor, debitis!
        Est voluptatibus, animi exercitationem quasi minus obcaecati reiciendis ad molestias neque rem nobis culpa consequatur aut harum soluta. Incidunt praesentium modi reiciendis doloremque voluptatum maiores beatae cupiditate quis deleniti. Culpa?
        Quibusdam deleniti modi voluptatum tempora consequuntur deserunt inventore sapiente. Dolore, laboriosam pariatur. Eaque commodi quod nihil cupiditate possimus dolorum perspiciatis libero quaerat inventore corporis, quia ea iste voluptatibus illum iusto!
        Mollitia ea quam aliquam veritatis a pariatur nam, odio repellat reprehenderit ad, aliquid commodi fugiat beatae hic earum quisquam molestiae quaerat eligendi officia dolorem! Veniam quasi nostrum modi voluptas possimus!
        Ducimus corrupti earum voluptates atque enim esse laudantium, quibusdam neque, commodi, sed sunt. Explicabo ab corrupti ullam a reiciendis harum? Dolores corrupti reiciendis, vel ipsam quas ducimus doloremque odio similique.
        Dolorem obcaecati dignissimos quas quam explicabo hic praesentium culpa similique a qui tempora corrupti ducimus et, sint accusamus in. Quae non commodi blanditiis dolore laudantium quasi, animi sapiente sunt provident.
        In magni perferendis praesentium beatae quia est quae voluptas voluptatum delectus repellendus quo rerum doloremque qui, laudantium voluptate excepturi deleniti earum. Eligendi sapiente vero ipsa quidem atque nihil quaerat eum!
        Est facilis dolore, veritatis laborum ipsa quasi quidem nesciunt ipsam deleniti totam a delectus fugit voluptatibus tempora adipisci? Reprehenderit molestias ducimus fugiat ratione voluptatum praesentium odit dolores voluptatibus nisi odio.
        Quisquam provident nemo laboriosam, officia numquam doloribus quas commodi omnis suscipit nostrum. Vero fuga blanditiis pariatur quaerat, mollitia suscipit natus tenetur id perspiciatis. Consectetur possimus totam nesciunt ut quasi exercitationem?
        <br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, autem at fugit dolorem accusantium quibusdam blanditiis ipsa vel totam in corporis, nemo est maxime. Nostrum quo cum sed molestiae itaque?
        Quae cumque commodi earum, nisi illum sapiente similique quos quisquam temporibus expedita corrupti sequi dolorem ratione? Tempora quibusdam aperiam saepe ex voluptatum excepturi dolorum officiis totam animi eligendi! Dolor, debitis!
        Est voluptatibus, animi exercitationem quasi minus obcaecati reiciendis ad molestias neque rem nobis culpa consequatur aut harum soluta. Incidunt praesentium modi reiciendis doloremque voluptatum maiores beatae cupiditate quis deleniti. Culpa?
        Quibusdam deleniti modi voluptatum tempora consequuntur deserunt inventore sapiente. Dolore, laboriosam pariatur. Eaque commodi quod nihil cupiditate possimus dolorum perspiciatis libero quaerat inventore corporis, quia ea iste voluptatibus illum iusto!
        Mollitia ea quam aliquam veritatis a pariatur nam, odio repellat reprehenderit ad, aliquid commodi fugiat beatae hic earum quisquam molestiae quaerat eligendi officia dolorem! Veniam quasi nostrum modi voluptas possimus!
        Ducimus corrupti earum voluptates atque enim esse laudantium, quibusdam neque, commodi, sed sunt. Explicabo ab corrupti ullam a reiciendis harum? Dolores corrupti reiciendis, vel ipsam quas ducimus doloremque odio similique.
        Dolorem obcaecati dignissimos quas quam explicabo hic praesentium culpa similique a qui tempora corrupti ducimus et, sint accusamus in. Quae non commodi blanditiis dolore laudantium quasi, animi sapiente sunt provident.
        In magni perferendis praesentium beatae quia est quae voluptas voluptatum delectus repellendus quo rerum doloremque qui, laudantium voluptate excepturi deleniti earum. Eligendi sapiente vero ipsa quidem atque nihil quaerat eum!
        Est facilis dolore, veritatis laborum ipsa quasi quidem nesciunt ipsam deleniti totam a delectus fugit voluptatibus tempora adipisci? Reprehenderit molestias ducimus fugiat ratione voluptatum praesentium odit dolores voluptatibus nisi odio.
        Quisquam provident nemo laboriosam, officia numquam doloribus quas commodi omnis suscipit nostrum. Vero fuga blanditiis pariatur quaerat, mollitia suscipit natus tenetur id perspiciatis. Consectetur possimus totam nesciunt ut quasi exercitationem?
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis inventore necessitatibus quo fuga officiis, sapiente rerum eius quaerat quos aliquam maiores nostrum non magnam dolores, ducimus aperiam fugit. Eveniet, sit?
      </div>
      <div class="col-md-2">
        <div class="card " style="width: 100%; margin-top:10px;">
          <img src="{% static 'assets/img/members/member-2.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
        <div class="card" style="width: 100%; margin-top:20px;">
          <img src="{% static 'assets/img/members/member-2.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
        <div class="card" style="width: 100%; margin-top:20px;">
          <img src="{% static 'assets/img/members/member-2.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="container d-flex flex-wrap justify-content-center">
      <div class="row mt-5">
        <div class="col-4 col-md-4 mb-3">
          <div class="card" style="width: 25rem;">
            <div class="card-header" style="text-align: center;">
              Featured
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col-4 col-md-4 mb-3"> 
           <div class="card" style="width: 25rem;">
            <div class="card-header" style="text-align: center;">
              Featured
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col-4 col-md-4 mb-3">
          <div class="card" style="width: 25rem;">
            <div class="card-header" style="text-align: center;">
              Featured
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% include "footer.html" %}
    