{% include "header.html" %}
{% load static %}
<section>
  <div class="my-1">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-secondary">
        <li class="breadcrumb-item">
          <a class="link-body-emphasis" href="{% url 'home' %}">
            <svg class="bi" width="16" height="16"><use xlink:href="#house-door-fill"></use></svg>
            <span class="visually-hidden">Home</span>
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <a class="link-body-emphasis fw-semibold text-decoration-none" href="contact.html">Contact Us</a>
        </li>
      </ol>
    </nav>
  </div></header>
  <div class="container marketing" style="margin-top: 9px;">
    <h4>Contact </h4> <hr>
    <table class="table table-bordered">
      <thead style="text-align: center;">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Office</th>
          <th scope="col">Address</th>
          <th scope="col">Contact Person</th>
        </tr>
      </thead>
      <tbody style="text-align: center;">
        <tr>
          <td>Toll Free Number</td>
         <td>admin@gmail.com</td>
          <td>55646124</td>
          <td>Head Office</td>
          <td>Balambu</td>
          <td>Ram Sherma</td>
        </tr>
        <tr>
            <td>Toll Free Number</td>
           <td>admin@gmail.com</td>
            <td>55646124</td>
            <td>Head Office</td>
            <td>Balambu</td>
            <td>Ram Sherma</td>
          </tr>
          <tr>
            <td>Toll Free Number</td>
           <td>admin@gmail.com</td>
            <td>55646124</td>
            <td>Head Office</td>
            <td>Balambu</td>
            <td>Ram Sherma</td>
          </tr>
          <tr>
            <td>Toll Free Number</td>
           <td>admin@gmail.com</td>
            <td>55646124</td>
            <td>Head Office</td>
            <td>Balambu</td>
            <td>Ram Sherma</td>
          </tr>
          <tr>
            <td>Toll Free Number</td>
           <td>admin@gmail.com</td>
            <td>55646124</td>
            <td>Head Office</td>
            <td>Balambu</td>
            <td>Ram Sherma</td>
          </tr>
          <tr>
            <td>Toll Free Number</td>
           <td>admin@gmail.com</td>
            <td>55646124</td>
            <td>Head Office</td>
            <td>Balambu</td>
            <td>Ram Sherma</td>
          </tr>
      </tbody>
    </table>
  </div>
  <section><!-- /.container -->
 {% include "footer.html" %}