{% include "header.html" %}
{% load static %}
<section>
  <div class="my-1">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-secondary">
        <li class="breadcrumb-item">
          <a class="link-body-emphasis" href="{% url 'home' %}">
            <svg class="bi" width="16" height="16"><use xlink:href="#house-door-fill"></use></svg>
            <span class="visually-hidden">Home</span>
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'election-official' %}">Elected Official</a>
        </li>
      </ol>
    </nav>
  </div>
</header>
  <div class="container marketing" style="margin-top: 9px;">
    <h4>Elected Official</h4><hr>
    <div class="card-deck" style="margin: 10px;">
      <div class="card">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="text-align:center;">Name</h5>
        </div>
        <div class="card-footer" style="text-align:center;">
          <h3 class="text-muted">Ward Member</h3>
          <h4 class="text-muted">office</h4>
          <div>
          <small class="text-muted" style="text-align:start;">email</small>
          <small class="text-muted" style="text-align:end;">contact</small>
          </div>
        </div>
      </div>
      <div class="card">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="text-align:center;">Name</h5>
        </div>
        <div class="card-footer" style="text-align:center;">
          <h3 class="text-muted">Ward Member</h3>
          <h4 class="text-muted">office</h4>
          <div>
          <small class="text-muted" style="text-align:start;">email</small>
          <small class="text-muted" style="text-align:end;">contact</small>
          </div>
        </div>
      </div>
      <div class="card">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="text-align:center;">Name</h5>
        </div>
        <div class="card-footer" style="text-align:center;">
          <h3 class="text-muted">Ward Member</h3>
          <h4 class="text-muted">office</h4>
          <div>
          <small class="text-muted" style="text-align:start;">email</small>
          <small class="text-muted" style="text-align:end;">contact</small>
          </div>
        </div>
      </div>
    </div>
    <div class="card-deck" style="margin: 10px;">  
      <div class="card">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="text-align:center;">Name</h5>
        </div>
        <div class="card-footer" style="text-align:center;">
          <h3 class="text-muted">Ward Member</h3>
          <h4 class="text-muted">office</h4>
          <div>
          <small class="text-muted" style="text-align:start;">email</small>
          <small class="text-muted" style="text-align:end;">contact</small>
          </div>
        </div>
      </div>
      <div class="card">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="text-align:center;">Name</h5>
        </div>
        <div class="card-footer" style="text-align:center;">
          <h3 class="text-muted">Ward Member</h3>
          <h4 class="text-muted">office</h4>
          <div>
          <small class="text-muted" style="text-align:start;">email</small>
          <small class="text-muted" style="text-align:end;">contact</small>
          </div>
        </div>
      </div>
      <div class="card">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="text-align:center;">Name</h5>
        </div>
        <div class="card-footer" style="text-align:center;">
          <h3 class="text-muted">Ward Member</h3>
          <h4 class="text-muted">office</h4>
          <div>
          <small class="text-muted" style="text-align:start;">email</small>
          <small class="text-muted" style="text-align:end;">contact</small>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
  {% include "footer.html" %}