{% include "header.html" %}
  <div class="my-1">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-secondary">
        <li class="breadcrumb-item">
          <a class="link-body-emphasis" href="index.html">
            <svg class="bi" width="16" height="16"><use xlink:href="#house-door-fill"></use></svg>
            <span class="visually-hidden">Home</span>
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <a class="link-body-emphasis fw-semibold text-decoration-none" href="election-official.html">Elected Official</a>
        </li>
      </ol>
    </nav>
  </div></header>
  <div class="container marketing" style="margin-top: 9px;">
    <h4>Elected Official</h4> <hr>
    <table class="table">
      <thead style="text-align: center;">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Photo</th>
          <th scope="col">Name</th>
          <th scope="col">Designation</th>
          <th scope="col">Office</th>
          <th scope="col">Email</th>
          <th scope="col">Contact</th>
        </tr>
      </thead>
      <tbody style="text-align: center;">
        <tr>
          <td></td>
          <th scope="row"><svg class="bd-placeholder-img" width="100" height="100" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
          </th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <th scope="row"><svg class="bd-placeholder-img" width="100" height="100" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
          </th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <th scope="row"><svg class="bd-placeholder-img" width="100" height="100" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
          </th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <th scope="row"><svg class="bd-placeholder-img" width="100" height="100" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
          </th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <th scope="row"><svg class="bd-placeholder-img" width="100" height="100" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
            <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <th scope="row"><svg class="bd-placeholder-img" width="100" height="100" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
            <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div><!-- /.container -->
  {% include "footer.html" %}