 {% load static %}
  <div class="container">
    <div class="row border-top bg-light mt-5" style=" padding-top:15px;">
      <div class="col-4 col-md-4 mb-3">
        <h2>Contact</h2>
        <div style="font-family:Arial, Helvetica, sans-serif; font-size:larger">
        <div>Chandragiri Municipality</div>
        <div>Balambu, Kathmandu, Bagmati Province, Nepal</div>
        <div>Phone: +977 414-5644345</div>
        <div>Email: example@gmail.com</div>
      </div>
      </div>
      <div class="col-4 col-md-4 mb-3">
        <h2>Location</h2>
        <div style="font-family:Arial, Helvetica, sans-serif; font-size:larger">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.9057345324672!2d85.24020247557101!3d27.689308226286617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb22f18a044141%3A0xfe84b78e555be899!2sChandragiri%20Municipality%2C%20Office%20of%20Municipal%20Executive!5e0!3m2!1sen!2snp!4v1709217734765!5m2!1sen!2snp" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div> </div>
      <div class="col-4 col-md-4 mb-3">
        <h2>Some Important Links</h2>
        <div style="font-family:Arial, Helvetica, sans-serif; font-size:larger">
        <ul class="list-unstyled">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'home' %}">Ward</a></li>
          <li><a href="{% url 'home' %}">Agriculture Sector</a></li>
          <li> <a href="{% url 'home' %}">Head office</a></li>
          <li> <a href="{% url 'home' %}">Notice</a></li>
        </ul>
      </div>
      </div>
    </div>
    <footer class="border-top d-flex flex-wrap bg-body-tertiary justify-content-between align-items-center py-1 my-4">
      <div class="col-md-8 d-flex align-items-center"  style="margin-top: 20px;">
        <a href="/" class="me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <img src="{% static 'assets/img/logo/chandragiri.png' %}" alt="" srcset="" height="20" width="20">
        </a>
        <span class=" mb-md-0 text-body-secondary">Chandragiri Municipality &#124; Office of Municipal Executive &#124; Balambu, Kathmandu, Bagmati Province, Nepal</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex"  style="margin-top: 20px;">
        <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#youtube"/></svg></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
      </ul>
    </footer>
  </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="{% static 'assets/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>    
</body>
</html>
