{% include "header.html" %}
{% load static %}
<section>
<main>
  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'assets/img/slide/1.jpg' %}" alt="" srcset=""class="bd-placeholder-img" width="100%" height="100%"aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
        <div>
          <div class="carousel-caption">
            <h1 style="color: blue; font-weight:500;">Chandragiri Municipality</h1>
            <h4 style="color: rgb(255, 0, 0);">Balambu, Kathmandu, Bagmati Province, Nepal</h4>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'assets/img/slide/3.jpg' %}" alt="" srcset=""class="bd-placeholder-img" width="100%" height="100%"aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
        <div>
          <div class="carousel-caption">
            <h1 style="color: blue; font-weight:500;">चन्द्रागिरि नगरपालिका</h1>
            <h4 style="color: rgb(255, 0, 0);">बलम्बु, काठमाडाैँ, बागमती प्रदेश, नेपाल</h4>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'assets/img/slide/2.jpg' %}" alt="" srcset=""class="bd-placeholder-img" width="100%" height="100%"aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
        <div>
          <div class="carousel-caption">
            <h1 style="color: rgb(0, 255, 136); font-weight:500;">Chandragiri Municipality</h1>
            <h4 style="color: rgb(255, 0, 0);">Balambu, Kathmandu, Bagmati Province, Nepal</h4>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container marketing">
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary-emphasis">Mayor</strong>
            <h3 class="mb-0">Featured post</h3>
            <div class="mb-1 text-body-secondary">Nov 12</div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
              Continue reading
              <svg class="bi"><use xlink:href="#chevron-right"/></svg>
            </a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="{% static 'assets/img/logo/chandragiri.png' %}" alt="" srcset="" width="200" height="250" style="padding: 19px;"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success-emphasis">Deputy Mayor</strong>
            <h3 class="mb-0">Post title</h3>
            <div class="mb-1 text-body-secondary">Nov 11</div>
            <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
              Continue reading
              <svg class="bi"><use xlink:href="#chevron-right"/></svg>
            </a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="{% static 'assets/img/logo/nep_logo.png' %}" alt="" srcset="" width="200" height="250" style="padding: 19px;"></div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:3rem;">
    <div class="col-8">
      <div class="scrollbar">
    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
      <h2 class="display-5 link-body-emphasis mb-1">Sample blog post</h2>
      <h4 id="scrollspyHeading1">First heading</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia et consequuntur obcaecati ut qui? Nam numquam voluptas fugit, consequatur accusantium expedita culpa et adipisci sed, sit rem rerum harum quisquam?</p>
      <h4 id="scrollspyHeading2">Second heading</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, ipsum reprehenderit! Nihil, quos saepe! Vel, neque. Libero provident omnis consequuntur. Pariatur quo numquam illo deleniti suscipit est obcaecati, culpa maxime?</p>
      <h4 id="scrollspyHeading3">Third heading</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quo blanditiis, aperiam voluptate doloremque labore recusandae enim porro itaque, distinctio, neque cum eius ut quas corrupti doloribus consequatur sapiente autem.</p>
      <h4 id="scrollspyHeading4">Fourth heading</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis sed iure voluptates cumque debitis, perferendis qui consequuntur aliquam. Asperiores nam provident excepturi praesentium inventore iure numquam aspernatur eligendi ipsum quas.</p>
      <h4 id="scrollspyHeading5">Fifth heading</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est laborum neque, natus magni obcaecati eum exercitationem quibusdam magnam fuga nulla molestias dignissimos eos eveniet vel nihil officia voluptates velit nemo!</p>
      <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">Sample blog post</h2>
        <p class="blog-post-meta">January 1, 2021 by <a href="#">Mark</a></p>

        <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, lists, tables, images, code, and more are all supported as expected.</p>
        <hr>
        <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
        <h2>Blockquotes</h2>
        <p>This is an example blockquote in action:</p>
        <blockquote class="blockquote">
          <p>Quoted text goes here.</p>
        </blockquote>
        <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
        <h3>Example lists</h3>
        <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout. This is an example unordered list:</p>
        <ul>
          <li>First list item</li>
          <li>Second list item with a longer description</li>
          <li>Third list item to close it out</li>
        </ul>
        <p>And this is an ordered list:</p>
        <ol>
          <li>First list item</li>
          <li>Second list item with a longer description</li>
          <li>Third list item to close it out</li>
        </ol>
        <p>And this is a definition list:</p>
        <dl>
          <dt>HyperText Markup Language (HTML)</dt>
          <dd>The language used to describe and define the content of a Web page</dd>
          <dt>Cascading Style Sheets (CSS)</dt>
          <dd>Used to describe the appearance of Web content</dd>
          <dt>JavaScript (JS)</dt>
          <dd>The programming language used to build advanced Web sites and applications</dd>
        </dl>
        <h2>Inline HTML elements</h2>
        <p>HTML defines a long list of available inline tags, a complete list of which can be found on the <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element">Mozilla Developer Network</a>.</p>
        <ul>
          <li><strong>To bold text</strong>, use <code class="language-plaintext highlighter-rouge">&lt;strong&gt;</code>.</li>
          <li><em>To italicize text</em>, use <code class="language-plaintext highlighter-rouge">&lt;em&gt;</code>.</li>
          <li>Abbreviations, like <abbr title="HyperText Markup Language">HTML</abbr> should use <code class="language-plaintext highlighter-rouge">&lt;abbr&gt;</code>, with an optional <code class="language-plaintext highlighter-rouge">title</code> attribute for the full phrase.</li>
          <li>Citations, like <cite>— Mark Otto</cite>, should use <code class="language-plaintext highlighter-rouge">&lt;cite&gt;</code>.</li>
          <li><del>Deleted</del> text should use <code class="language-plaintext highlighter-rouge">&lt;del&gt;</code> and <ins>inserted</ins> text should use <code class="language-plaintext highlighter-rouge">&lt;ins&gt;</code>.</li>
          <li>Superscript <sup>text</sup> uses <code class="language-plaintext highlighter-rouge">&lt;sup&gt;</code> and subscript <sub>text</sub> uses <code class="language-plaintext highlighter-rouge">&lt;sub&gt;</code>.</li>
        </ul>
        <p>Most of these elements are styled by browsers with few modifications on our part.</p>
        <h2>Heading</h2>
        <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
        <h3>Sub-heading</h3>
        <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
        <pre><code>Example code block</code></pre>
        <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>
      </article>
    </div>
  </div>
  </div> 
  <div class="col-4">
    <div class="p-4 mb-3 bg-body-tertiary rounded">
      <h4 class="fst-italic">About</h4>
      <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
      <a href="{% url 'home' %}" class="icon-link gap-1 icon-link-hover stretched-link">
        More
        <svg class="bi"><use xlink:href="#chevron-right"/></svg>
      </a>
    </div>
    <div>
      <h4 class="fst-italic">Recent posts</h4>
      <ul class="list-unstyled">
        <li>
          <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
            <img src="{% static 'assets/img/events-1.jpg' %}" alt="" srcset="" width="100%" height="96" aria-hidden="true">
            <div class="col-lg-8">
              <h6 class="mb-0">Example blog post title</h6>
              <small class="text-body-secondary">January 15, 2024</small>
            </div>
          </a>
        </li>
        <li>
          <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
            <img src="{% static 'assets/img/events-2.jpg' %}" alt="" srcset="" width="100%" height="96" aria-hidden="true">  
              <div class="col-lg-8">
              <h6 class="mb-0">This is another blog post title</h6>
              <small class="text-body-secondary">January 14, 2024</small>
            </div>
          </a>
        </li>
        <li>
          <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
            <img src="{% static 'assets/img/gallery/beach-3.jpg' %}" alt="" srcset="" width="100%" height="96" aria-hidden="true">            
            <div class="col-lg-8">
              <h6 class="mb-0">Longer blog post title: This one has multiple lines!</h6>
              <small class="text-body-secondary">January 13, 2024</small>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
   
  </div><!-- /.container -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 bordered">
        <h4>Service </h4><hr>
        <ul class="list-group">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A fourth item</li>
          <li class="list-group-item">And a fifth one</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A fourth item</li>
          <li class="list-group-item">And a fifth one</li>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h4 style="padding-left: 50px;">Information </h4><hr style="margin-left: 30px;">
        <nav class="bg-light border-bottom" style="margin-left: 30px;">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link" href="#scrollspyBudget">Budget</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#scrollspyPlanAndProjects">Plan and Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#scrollspyReports">Reports</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#scrollspyImpContact">Important Contact</a>
            </li>
          </ul>
        </nav>
        <div class="scrollbar">
          <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
            <h4 id="scrollspyBudget">Budget</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia et consequuntur obcaecati ut qui? Nam numquam voluptas fugit,Lorem ipsum dolor sit amet consectetur adipisicing elit. A id, corporis tempora saepe iusto iste ullam inventore velit tempore rerum doloremque vitae accusantium exercitationem quia soluta, consequatur tenetur aspernatur! Cupiditate?
            Odio ullam maiores deleniti magnam earum ut asperiores laborum, debitis officiis labore alias quas eos dolorem? Exercitationem similique modi nisi consequuntur architecto pariatur est, ullam earum deleniti ipsum fugiat cumque?
            Id, delectus beatae. Pariatur id rerum ducimus commodi praesentium cupiditate accusantium dolores veritatis, ab qui odit modi autem illum ut? Aliquam quos nostrum possimus labore dolor. Qui quia id suscipit?
            Corrupti hic, repellendus illum officia quae ad nostrum assumenda dignissimos beatae, excepturi, atque harum. Necessitatibus cupiditate optio fuga modi, exercitationem eos quis quam accusantium enim, voluptate suscipit earum. Corrupti, necessitatibus!
            Expedita praesentium quia explicabo voluptas reprehenderit in aliquam inventore. Voluptatem repellendus velit eligendi necessitatibus? Vel facilis, dolore, earum saepe delectus a laudantium deleniti, fugiat cum voluptas sed aliquid ducimus dolores!
            Tempore similique asperiores vero quae quidem accusamus. Ea, recusandae quis vitae tempore ab ad temporibus rem, quas quam obcaecati adipisci quisquam assumenda natus aspernatur id eum. Eaque labore laudantium deleniti!
            Dignissimos veritatis praesentium, molestias, eos tempora suscipit perspiciatis necessitatibus voluptate, fugiat totam odio numquam sed voluptatibus inventore rem voluptatem quo reiciendis culpa assumenda nihil animi commodi? Earum quasi nemo natus!consequatur accusantium expedita culpa et adipisci sed, sit rem rerum harum quisquam?</p>
            <h4 id="scrollspyPlanAndProjects">Plan and Projects</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt rem vitae, obcaecati placeat quidem commodi quis quae ut suscipit molestias eveniet dolorem aliquid! Voluptates porro nisi distinctio expedita nesciunt placeat?
            Porro non aliquam ullam quis pariatur veniam voluptatibus numquam beatae enim neque iste itaque doloribus, commodi earum tenetur eius nemo recusandae possimus laudantium aspernatur, debitis animi amet cum. Rerum, ut!
            Cum, exercitationem explicabo velit placeat ex laborum unde, dicta, tempore cumque labore voluptatum! Ratione omnis nam incidunt deleniti atque sit, repudiandae vel unde facilis in qui perferendis, quae quibusdam nostrum.
            Voluptas quos expedita impedit, quia, voluptatem nam quas architecto ex similique accusantium ipsa provident sequi repudiandae in ducimus reprehenderit minima? Dolore facilis animi aspernatur. Quod vitae quidem vel ea illum.
            Corrupti earum, eius impedit optio aliquid, veritatis rerum ea est dolores autem inventore quasi nam incidunt nobis molestias sequi nihil deleniti doloribus cupiditate fugiat. Aliquam quam dolore soluta veniam maiores?
            Ipsam, labore suscipit ipsa dolores vel soluta possimus nam neque! Laboriosam, vitae commodi enim blanditiis quos pariatur natus earum, excepturi ex libero molestias, odio rem! Asperiores modi quam eius dolorem.
            Iusto numquam, adipisci facilis rem minima recusandae repudiandae officiis nostrum, placeat sed porro minus atque itaque blanditiis alias veritatis tempora sunt suscipit inventore aliquid quo accusantium. Voluptatum, deleniti. Consectetur, eum!
            Molestias qui dolorem atque recusandae perferendis laborum quo sint necessitatibus in nisi aperiam nemo fuga aut, voluptate perspiciatis, dignissimos rem nihil tempore, corporis laudantium. Vel ducimus alias unde itaque corporis!
            Totam nobis voluptatum repellendus consequatur labore harum maxime saepe nam minima neque deserunt, velit debitis odio doloribus sunt delectus eum exercitationem placeat ex tenetur? Illum error architecto velit voluptatum saepe.Quibusdam, ipsum reprehenderit! Nihil, quos saepe! Vel, neque. Libero provident omnis consequuntur. Pariatur quo numquam illo deleniti suscipit est obcaecati, culpa maxime?</p>
            <h4 id="scrollspyReports">Reports</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt rem vitae, obcaecati placeat quidem commodi quis quae ut suscipit molestias eveniet dolorem aliquid! Voluptates porro nisi distinctio expedita nesciunt placeat?
            Porro non aliquam ullam quis pariatur veniam voluptatibus numquam beatae enim neque iste itaque doloribus, commodi earum tenetur eius nemo recusandae possimus laudantium aspernatur, debitis animi amet cum. Rerum, ut!
            Cum, exercitationem explicabo velit placeat ex laborum unde, dicta, tempore cumque labore voluptatum! Ratione omnis nam incidunt deleniti atque sit, repudiandae vel unde facilis in qui perferendis, quae quibusdam nostrum.
            Voluptas quos expedita impedit, quia, voluptatem nam quas architecto ex similique accusantium ipsa provident sequi repudiandae in ducimus reprehenderit minima? Dolore facilis animi aspernatur. Quod vitae quidem vel ea illum.
            Corrupti earum, eius impedit optio aliquid, veritatis rerum ea est dolores autem inventore quasi nam incidunt nobis molestias sequi nihil deleniti doloribus cupiditate fugiat. Aliquam quam dolore soluta veniam maiores?
            Ipsam, labore suscipit ipsa dolores vel soluta possimus nam neque! Laboriosam, vitae commodi enim blanditiis quos pariatur natus earum, excepturi ex libero molestias, odio rem! Asperiores modi quam eius dolorem.
            Iusto numquam, adipisci facilis rem minima recusandae repudiandae officiis nostrum, placeat sed porro minus atque itaque blanditiis alias veritatis tempora sunt suscipit inventore aliquid quo accusantium. Voluptatum, deleniti. Consectetur, eum!
            Molestias qui dolorem atque recusandae perferendis laborum quo sint necessitatibus in nisi aperiam nemo fuga aut, voluptate perspiciatis, dignissimos rem nihil tempore, corporis laudantium. Vel ducimus alias unde itaque corporis!
            Totam nobis voluptatum repellendus consequatur labore harum maxime saepe nam minima neque deserunt, velit debitis odio doloribus sunt delectus eum exercitationem placeat ex tenetur? Illum error architecto velit voluptatum saepe. Necessitatibus quo blanditiis, aperiam voluptate doloremque labore recusandae enim porro itaque, distinctio, neque cum eius ut quas corrupti doloribus consequatur sapiente autem.</p>
            <h4 id="scrollspyImpContact">Important Contact</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt rem vitae, obcaecati placeat quidem commodi quis quae ut suscipit molestias eveniet dolorem aliquid! Voluptates porro nisi distinctio expedita nesciunt placeat?
            Porro non aliquam ullam quis pariatur veniam voluptatibus numquam beatae enim neque iste itaque doloribus, commodi earum tenetur eius nemo recusandae possimus laudantium aspernatur, debitis animi amet cum. Rerum, ut!
            Cum, exercitationem explicabo velit placeat ex laborum unde, dicta, tempore cumque labore voluptatum! Ratione omnis nam incidunt deleniti atque sit, repudiandae vel unde facilis in qui perferendis, quae quibusdam nostrum.
            Voluptas quos expedita impedit, quia, voluptatem nam quas architecto ex similique accusantium ipsa provident sequi repudiandae in ducimus reprehenderit minima? Dolore facilis animi aspernatur. Quod vitae quidem vel ea illum.
            Corrupti earum, eius impedit optio aliquid, veritatis rerum ea est dolores autem inventore quasi nam incidunt nobis molestias sequi nihil deleniti doloribus cupiditate fugiat. Aliquam quam dolore soluta veniam maiores?
            Ipsam, labore suscipit ipsa dolores vel soluta possimus nam neque! Laboriosam, vitae commodi enim blanditiis quos pariatur natus earum, excepturi ex libero molestias, odio rem! Asperiores modi quam eius dolorem.
            Iusto numquam, adipisci facilis rem minima recusandae repudiandae officiis nostrum, placeat sed porro minus atque itaque blanditiis alias veritatis tempora sunt suscipit inventore aliquid quo accusantium. Voluptatum, deleniti. Consectetur, eum!
            Molestias qui dolorem atque recusandae perferendis laborum quo sint necessitatibus in nisi aperiam nemo fuga aut, voluptate perspiciatis, dignissimos rem nihil tempore, corporis laudantium. Vel ducimus alias unde itaque corporis!
            Totam nobis voluptatum repellendus consequatur labore harum maxime saepe nam minima neque deserunt, velit debitis odio doloribus sunt delectus eum exercitationem placeat ex tenetur? Illum error architecto velit voluptatum saepe.Quis sed iure voluptates cumque debitis, perferendis qui consequuntur aliquam. Asperiores nam provident excepturi praesentium inventore iure numquam aspernatur eligendi ipsum quas.</p>
            <h4 id="scrollspyHeading5">Fifth heading</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt rem vitae, obcaecati placeat quidem commodi quis quae ut suscipit molestias eveniet dolorem aliquid! Voluptates porro nisi distinctio expedita nesciunt placeat?
            Porro non aliquam ullam quis pariatur veniam voluptatibus numquam beatae enim neque iste itaque doloribus, commodi earum tenetur eius nemo recusandae possimus laudantium aspernatur, debitis animi amet cum. Rerum, ut!
            Cum, exercitationem explicabo velit placeat ex laborum unde, dicta, tempore cumque labore voluptatum! Ratione omnis nam incidunt deleniti atque sit, repudiandae vel unde facilis in qui perferendis, quae quibusdam nostrum.
            Voluptas quos expedita impedit, quia, voluptatem nam quas architecto ex similique accusantium ipsa provident sequi repudiandae in ducimus reprehenderit minima? Dolore facilis animi aspernatur. Quod vitae quidem vel ea illum.
            Corrupti earum, eius impedit optio aliquid, veritatis rerum ea est dolores autem inventore quasi nam incidunt nobis molestias sequi nihil deleniti doloribus cupiditate fugiat. Aliquam quam dolore soluta veniam maiores?
            Ipsam, labore suscipit ipsa dolores vel soluta possimus nam neque! Laboriosam, vitae commodi enim blanditiis quos pariatur natus earum, excepturi ex libero molestias, odio rem! Asperiores modi quam eius dolorem.
            Iusto numquam, adipisci facilis rem minima recusandae repudiandae officiis nostrum, placeat sed porro minus atque itaque blanditiis alias veritatis tempora sunt suscipit inventore aliquid quo accusantium. Voluptatum, deleniti. Consectetur, eum!
            Molestias qui dolorem atque recusandae perferendis laborum quo sint necessitatibus in nisi aperiam nemo fuga aut, voluptate perspiciatis, dignissimos rem nihil tempore, corporis laudantium. Vel ducimus alias unde itaque corporis!
            Totam nobis voluptatum repellendus consequatur labore harum maxime saepe nam minima neque deserunt, velit debitis odio doloribus sunt delectus eum exercitationem placeat ex tenetur? Illum error architecto velit voluptatum saepe.Est laborum neque, natus magni obcaecati eum exercitationem quibusdam magnam fuga nulla molestias dignissimos eos eveniet vel nihil officia voluptates velit nemo!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-flex flex-wrap justify-content-center">
    <div class="row mt-5">
      <div class="col-4 col-md-4 mb-3">
        <div class="card" style="width: 20rem;">
          <div class="card-header">
            Featured
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col-4 col-md-4 mb-3"> 
         <div class="card" style="width: 20rem;">
          <div class="card-header">
            Featured
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col-4 col-md-4 mb-3">
        <div class="card" style="width: 20rem;">
          <div class="card-header">
            Featured
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</section>
 {% include "footer.html" %}