{% include "header.html" %}
{% load static %}
<section>
  <div class="my-1">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-secondary">
        <li class="breadcrumb-item">
          <a class="link-body-emphasis" href="{% url 'home' %}">
            <svg class="bi" width="16" height="16"><use xlink:href="#house-door-fill"></use></svg>
            <span class="visually-hidden">Home</span>
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'about' %}">About Us</a>
        </li>
      </ol>
    </nav>
  </div>
  <div class="container marketing" style="margin-top: 9px;">
    <!-- START THE FEATURETTES -->
    <div class="row featurette">
      <h4>Introduction</h4><hr>
      <div class="row">
        {% for ab in aboutData %}
      <div class="col-md-10" style="text-align: justify;">
        {{ab.description}}
      </div>
      {% endfor %}

      <div class="col-md-2">
        {% for mb in memberData %}
        {% if mb.memberOf == 'multipalStaffs' %}
        <div class="card " style="width: 100%; margin-top:10px;">
          <img src="/media/{{mb.image}}" class="card-img-top" alt="...">
          <div class="card-body" style="text-align:center;">
            <h5 class="card-title">{{ mb.name }}</h5>
            <h6 class="card-title">{{ mb.designation }}</h6>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="container d-flex flex-wrap justify-content-center">
      <div class="row mt-5">
        <div class="col-4 col-md-4 mb-3">
          <div class="card" style="width: 25rem;">
            <div class="card-header" style="text-align: center;">
              Featured
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col-4 col-md-4 mb-3"> 
           <div class="card" style="width: 25rem;">
            <div class="card-header" style="text-align: center;">
              Featured
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col-4 col-md-4 mb-3">
          <div class="card" style="width: 25rem;">
            <div class="card-header" style="text-align: center;">
              Featured
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% include "footer.html" %}
    